:root {
  --scrollbarBgColor: #b7b7cd;
  --scrollbarThumbColor: #534bae;
  --scrollbarWidth: 10px;
  --scrollbarBorderRadius: 20px;
}
.listItems::-webkit-scrollbar {
  width: var(--scrollbarWidth);
}
.listItems::-webkit-scrollbar-track {
  background: var(--scrollbarBgColor);
  border-radius: var(--scrollbarBorderRadius);
}
.listItems::-webkit-scrollbar-thumb {
  background-color: var(--scrollbarThumbColor);
  border-radius: var(--scrollbarBorderRadius);
  border: var(--scrollbarBorder);
  background-image: linear-gradient(
                  180deg,
                  var(--scrollbarThumbColor) 0%,
                  var(--scrollbarThumbColorSecond) 90%
  );
}

.listItems {
  overflow: auto;
  width: 400px;
  scrollbar-width: var(--scrollbarWidth);
  scrollbar-color: var(--scrollbarThumbColor) var(--scrollbarBgColor);
}

.listItem {
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
  padding-top: 5px;
  align-content: flex-start;
  flex-direction: column;
}

.author {
  color: #3c11c3;
}

.text {
  color: #000051;
}