.chat{
  display: flex;
  flex-direction: column-reverse;
  height: 500px;
  width: 500px;
  border: 1px solid #534bae;
  border-radius: 0 20px 20px 0;
  justify-content: space-between;
  padding-top: 20px;
}
.send {
  margin: 10px;
}

.addRoom{
  margin-bottom: 250px;
  color: #534bae;
  font-size: 36px;
}

