.input{
  width: 300px;
  height: 35px;
  font-size: 18px;
  padding-left: 10px;
  outline: none;
}

.clear {
  position: absolute;
  right: 140px;
  top: 10px;
  width: 16px;
  &:hover {
    cursor: pointer;
  }
}

.form {
  display: flex;
  gap: 25px;
  position: relative;
  margin-top: 20px;
}